﻿@model Aviva.FizzBuzz.Presentation.Models.FizzBuzzModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("FizzBuzzView", "FizzBuzzSeries", FormMethod.Post))
 {
    
    @Html.ValidationSummary(true)

                @Html.LabelFor(m => m.UserInput)
    <br />
                @Html.TextBoxFor(m => m.UserInput)
    <br />      
                @Html.ValidationMessageFor(m => m.UserInput)
    <br />  
                <input type="submit" value="Submit"/><br />

     if (Model != null && Model.PageRecords != null)
            {
                <ul>
                    <li>
                        <p>Required series is : <br /><br /></p>
                    <table>                        
                        @foreach (var item in Model.PageRecords)
                        {
                            <tr><td><p class = "@item.StyleClass"> @item.Value<br /></p></td></tr>
                            
                        }                       
                    </table>
                    </li>
                </ul>
            }
        }

