﻿body {
    background-color: #9caaf6;
    border-top: solid 10px #000;    
    font-size: 1em;
    font-family: "Times New Roman";
    margin: 0;
    padding: 0;
}

.BlueFizz {    
    color:blue
}

.GreenBuzz {
    color:green;
}

.textbox {
    font-size:medium;
    font-family:"Comic Sans MS";
    color:green;
}