﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div>
        <section>
                @RenderBody()
        </section>
    </div>
</body>
</html>
